.form-wrapper {
	justify-content: center;
	height: 100vh;
	flex-direction: column;
	align-items: center;
}

.login-card {
	min-width: 320px;
	width: 50%;
}

.alert-msg {
	width: 100%;
	text-align: center;
    font-size: 25px;
}